@font-face {
    font-family: DOS_V_re_JPN12;
    src: url(Web437_DOS-V_re_JPN12.woff);
}

@font-face {
    font-family: DOS_V_re_JPN30;
    src: url(Web437_DOS-V_re_JPN30.woff);
}

@font-face {
    font-family: Portfolio;
    src: url(Web437_Portfolio_6x8.woff);
}

html, body {
    height: 100%;
    width: 100%;
}

html {
    font-size: 16px;
    font-family: Portfolio;
    background-color: #1c221c;
    color: #e0c9e0;
}

body {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

h1, h2 {
    font-weight: normal;
}

header, body {
    margin: 0px;
}

header h1 {
    text-align: center;
    font-size: 90px;
    font-family: DOS_V_re_JPN30;
    margin: 0;
    padding: 0;
}

header h2 {
    text-align: center;
    margin: 0px;
    padding: 0;
    font-family: DOS_V_re_JPN12;
    font-size: 24px;
}

ul {
    padding: 0;
    text-align: center;
}

li {
    list-style: none;   
}

li:hover {
    background-color: #1c221c;
    color: #e0c9e0;
}

header {
    margin-bottom: 32px;
}

.content_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_box {
    width: 480px;
    background-color: #e0c9e0 ;
    color: #1c221c;
    margin-bottom: 1em;
}

.content_box h1 {
    text-align: center;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: inherit;
    font-family: DOS_V_re_JPN12;
    font-size: 24px;
}

.content_box ul {
    margin-top: 0;
}

.content_box p {
    text-align: center;
    margin-top: 0;
    padding: 0 1em;
}

a {
    text-decoration: none;
    color: #1c221c;
}

a:visited {
    text-decoration: none;
    color: #1c221c;
}

li:hover a {
    color: #e0c9e0;
}

/*@media only screen and (min-width: 768px) {
    html {
        font-size: 8px;
    }
}*/